<nav class="navbar" >
    <div class="container-fluid">
      <a class="navbar-brand  titulo" href="#">Productos Angular</a>
    </div>
</nav>
<nav class="nav menu">
    <a class="nav-link li2" href="#">Home</a>
    <a class="nav-link  li2" href="#">Productos</a>
    <a class="nav-link li2" href="#">tienda</a>
    <a class="nav-link disabled li2">Disabled</a>
  </nav>

  <div class="card cuadro ">
    <div class="card-body ">
      <h2 class="card-title">Special title treatment</h2>
      <h4 class="card-text">With supporting text below as a natural lead-in to additional content.</h4>
      <button class="btn btn-primary boton1">ver producrtos</button>
      <button class="btn btn-success boton2">añadir productos</button>
    </div>
  </div>
